<web-app> 
	<servlet>  
	<servlet-name>Servlet1</servlet-name>  
	<servlet-class>FirstCookie</servlet-class>  
	</servlet> 
	
	<servlet>  
	<servlet-name>Servlet2</servlet-name>  
	<servlet-class>SecondCookie</servlet-class>  
	</servlet>  
	  
	<servlet-mapping>  
	<servlet-name>Servlet1</servlet-name>  
	<url-pattern>/servlet1</url-pattern>  
	</servlet-mapping>  
	
	<servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>  
  
</web-app>